<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card card-default">
                    <div class="card-header"><h1>Новый платёж</h1></div>
                    
                    <div class="card-body">
                        <uploader></uploader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Uploader from './Uploader';
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        components: {
            Uploader
        }
    }
</script>

<style lang="sass">
@import '~vue-toastr/src/vue-toastr.scss'
</style>
