<template>
    <div class="uploader"
         @dragenter="OnDragEnter"
         @dragleave="OnDragLeave"
         @dragover.prevent
         @drop="onDrop"
         :class="{ dragging: isDragging }">
        
        <div class="upload-control" v-show="file">
            <label for="file">Выбрать файл</label>
            <button :disabled='isDisabled' @click="upload">Сканировать!</button>
        </div>
        
        
        <div v-if="!file">
            <i class="fa fa-cloud-upload"></i>
            <p>Перетяни счёт сюда</p>
            <div>ИЛИ</div>
            <div class="file-input">
                <label for="file">Выбери файл</label>
                <input type="file" id="file" @change="onInputChange">
            </div>
            <div>
                <span>{{ error }}</span>
            </div>
        </div>
        
        <div class="doc-preview" v-else>
            <div class="details">
                <span class="name"> {{ file.name}}</span>
                <span class="size"> {{ getFileSize(file.size) }}</span>
            </div>
        </div>
        <br>
        <div class="data">
            <input v-model.trim="unp" id = "unp" type="number">
            <label for = "unp">УНП</label>
            <br>
            <input v-model="account" id = "account" type="text" @input="account = $event.target.value.trim().toUpperCase()">
            <label for = "account">Расчетный счет</label>
            <br>
            <input v-model.trim="amount" id = "amount" type="text">
            <label for = "amount">Сумма</label>
            <br>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            isDragging: false,
            dragCount: 0,
            file: null,
            unp: null,
            account: null,
            amount: null,
            error: null,
            disabled: false,
        }),
        computed: {
            isDisabled: function(){
                return this.disabled;
            }
        },
        methods: {
            OnDragEnter(e) {
                e.preventDefault();
                
                this.dragCount++;
                this.isDragging = true;
                return false;
            },
            OnDragLeave(e) {
                e.preventDefault();
                this.dragCount--;
                if (this.dragCount <= 0)
                    this.isDragging = false;
            },
            onInputChange(e) {
                this.file = e.target.files[0];
                if (!this.file.type.match('(image|application).*')) {
                    this.$toastr.e(this.file.name + ' must be jpg/jpeg, png, pdf, doc, docx');
                    this.file = null;
                    return;
                }
                this.isDragging = false;
            },
            onDrop(e) {
                e.preventDefault();
                e.stopPropagation();
                this.file = e.dataTransfer.files[0];
                if (!this.file.type.match('(image|application).*')) {
                    this.$toastr.e(this.file.name + ' must be jpg/jpeg, png, pdf, doc, docx');
                    this.file = null;
                    return;
                }
                this.isDragging = false;
            },
            getFileSize(size) {
                const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
                let i = 0;
                
                while(size > 900) {
                    size /= 1024;
                    i++;
                }
                return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
            },
            upload() {
                this.disabled = true;
                const formData = new FormData();
                formData.append('document', this.file, this.file.name);
                axios.post('/upload', formData)
                    .then(response => {
                        if (Object.keys(response.data).length < 3) {
                            this.$toastr.e('Не удалось распознать некоторые данные');
                        } else this.$toastr.s('Счет успешно распознан');
                        this.disabled = false;
                        this.file = null;
                        this.unp = response.data.unp;
                        this.account = response.data.account;
                        this.amount = response.data.amount;
                    })
                    .catch(error => {
                        this.$toastr.e(error.response.data.errors.document[0]);
                    });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uploader {
        width: 100%;
        background: #2196F3;
        color: #fff;
        padding: 40px 15px;
        text-align: center;
        border-radius: 10px;
        border: 3px dashed #fff;
        font-size: 20px;
        position: relative;
        &.dragging {
            background: #fff;
            color: #2196F3;
            border: 3px dashed #2196F3;
            .file-input label {
                background: #2196F3;
                color: #fff;
            }
        }
        i {
            font-size: 85px;
        }
        .file-input {
            width: 200px;
            margin: auto;
            height: 68px;
            position: relative;
            label,
            input {
                background: #fff;
                color: #2196F3;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                padding: 10px;
                border-radius: 4px;
                margin-top: 7px;
                cursor: pointer;
            }
            input {
                opacity: 0;
                z-index: -2;
            }
        }
        .doc-preview {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: center;
            .details {
                font-size: 16px;
                background: #fff;
                color: #000;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                padding: 3px 6px;
                .name {
                    overflow: hidden;
                    height: 24px;
                }
            }
        }
        .data {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
        }
        .upload-control {
            position: absolute;
            width: 100%;
            background: #fff;
            top: 0;
            left: 0;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding: 10px;
            padding-bottom: 4px;
            text-align: right;
            button, label {
                background: #2196F3;
                border: 2px solid #03A9F4;
                border-radius: 3px;
                color: #fff;
                font-size: 15px;
                cursor: pointer;
            }
            button[disabled] {
                background: gray;
                border-radius: 3px;
                color: #fff;
                font-size: 15px;
                cursor: wait;
            }
            label {
                padding: 2px 5px;
                margin-right: 10px;
            }
        }
    }
</style>
